*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    background-color:antiquewhite;
}

h1{
    text-align:center;
    padding-top:15px;
    color: rgb(19, 19, 19);
}

header{
    background-color: rgb(85, 93, 93);
    color: rgb(92, 92, 231);
    padding:20px;
    text-align:center;
}

.header{
    background-color:blueviolet;
}
#header_main{
    background-color:rgb(152, 67, 67);
    border-bottom:3px solid black;
    justify-content:center;
}
.section_heading{
    margin-top:20px;
    color:rgb(209, 35, 186);
    border-bottom:2px solid #aaa;
    padding-bottom:5px;
}
body{
    font-family:Arial,sans-serif;
    line-height:1.6;
    margin:0;
    padding:0 20px;
    background: fixed;
}
.section-img{
    display:flex;
    align-items:center;
    margin-bottom:30px;
}
li{
    color: brown;
}
